<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 등록 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signUp.css">
</head>
<body>

<form id="userRegistrationForm" action="/api/users" method="post">
    <div class="main-header">
        <h2>사용자 등록 폼</h2>
    </div>
    <label for="email" class="form-label">이메일:</label>
    <input type="email" id="email" name="email" class="form-input" required><br>

    <label for="password" class="form-label">비밀번호:</label>
    <input type="password" id="password" name="password" class="form-input" required><br>

    <label for="phone" class="form-label">전화번호:</label>
    <input type="text" id="phone" name="phone" class="form-input" required><br>

    <label for="name" class="form-label">이름:</label>
    <input type="text" id="name" name="name" class="form-input" required><br>

    <label for="address" class="form-label">주소:</label>
    <input type="text" id="address" name="address" class="form-input" required><br>

    <label for="admin" class="form-label">관리자 및 가계 주인 여부:</label>
    <select id="admin" name="admin" class="form-input">
        <option value="admin" selected>관리자</option>
        <option value="store">상점</option>
        <option value="user">유저</option>
    </select><br>

    <label for="adminToken" class="form-label">관리자 토큰:</label>
    <input type="text" id="adminToken" name="adminToken" class="form-input" readonly><br>

    <button type="submit" class="btn btn-primary">가입하기</button>
    <a class="btn btn-primary" href="root/main">메인 페이지</a>
</form>
</body>
</html>