<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Store Page</title>
	<script src="/js/common-sse.js"></script>
	<link rel="stylesheet" href="/static/css/store.css">
	<script src="/static/js/store.js"></script>
</head>
<body>

<h1>Store</h1>

<div th:if="${not #lists.isEmpty(store)}">
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Category</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="store : ${store}">
			<td th:text="${store.storeName}"></td>
			<td th:text="${store.storeAddress}"></td>
			<td th:text="${store.storeCategory}"></td>
		</tr>
		</tbody>
	</table>
</div>

<a th:href="@{/stores/{storeId}/allMenu/(storeId=${storeId})}" type="button" class="btn btn-info" >가게 메뉴 보기</a>
<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#textModal">가게정보 수정</a>
<a type="button" class="btn btn-danger" onclick="deleteStore()">가게정보 삭제</a>
<a th:href="@{'/'}" class="btn btn-primary">메인 페이지</a>

<div class="modal" id="textModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">가게 정보 수정</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="name">가게명 변경:</label>
				<input type="text" id="name" name="name" class="form-control"/>

				<label for="address">가게주소 변경:</label>
				<input type="text" id="address" name="address" class="form-control"/>

				<label for="category">가게카테고리 변경:</label>
				<input type="text" id="category" name="category" class="form-control"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary" onclick="updateData()">수정하기</button>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>