<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <script src="/js/common-sse.js"></script>
  <title>상점</title>
  <link rel="stylesheet" href="/static/css/store.css">
</head>
<body>

<h1>Store</h1>

<div th:if="${not #lists.isEmpty(storePages)}">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="store : ${storePages}">
      <td th:text="${store.storeName}"></td>
      <td th:text="${store.storeAddress}"></td>
      <td th:text="${store.storeCategory}" ></td>
      <td>
        <a th:href="@{/api/stores/{storeId}(id=${store.getStoreId()})}" class="btn btn-info store-link">가게 정보 보기</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a th:href="@{/users/main}" class="btn btn-primary">메인 페이지</a>
</body>
</html>