body {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
}

.main-header {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn, .btn-primary {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover, .btn-primary:hover {
    background-color: #2980b9;
}

.btn-primary:last-child {
    margin-right: 0;
}

.form-container {
    max-width: 400px;
    margin: auto;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3498db;
    border-radius: 5px;
}
