.btn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover {
    background-color: #2980b9;
}

.store-link:last-child {
    margin-right: 0;
}

body {
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

table {
    border-spacing: 0;
    width: 80%;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.store-link {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.store-link:hover {
    background-color: #0056b3;
}