<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Menu Form</title>
    <script src="/js/common-sse.js"></script>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>

<h1>Menu Form</h1>

<form id="menuForm" enctype="multipart/form-data">
    <label for="name">메뉴 이름:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="price">메뉴 가격:</label>
    <input type="number" id="price" name="price" required><br><br>

    <button type="button" onclick="createMenu()" class="btn-primary">메뉴 생성</button>
</form>
<br>
<a th:href="@{'/users/main'}" class="btn btn-primary">메인 페이지</a>
<div id="messageDiv"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var storeId = /*[[${storeId}]]*/ null; // 동적으로 설정하려는 가게 ID
    /*]]>*/
</script>
<script>
    function createMenu() {
        var formData = new FormData();
        formData.append('name', $('#name').val());
        formData.append('price', $('#price').val());

        $.ajax({
            type: 'POST',
            url: '/api/stores/' + storeId + '/createMenu',
            data: formData,
            processData: false,
            contentType: false,
            success: function (message) {
                window.location.href = '/api/stores/' + storeId + '/allMenu';
            },
            error: function () {
                $('#messageDiv').text('Failed to create menu.');
            }
        });
    }
</script>

</body>
</html>