<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="/common-sse.js"></script>
    <title>Title</title>

    <!--     <link rel="stylesheet" href="your_custom_style.css"> -->

    <script src="/common-sse.js"></script>

</head>

<body style="background-color: #ffffff; text-align: center; padding: 50px;">

<div style="background-color: #3498db; color: #ffffff; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
    <h1>메인 입니다</h1>
</div>

<a class="btn btn-info store-link" href="/api/stores" style="background-color: #3498db; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; margin-right: 10px;">가게 정보 보기</a>

<a class="btn btn-info store-link" href="/api/orders" style="background-color: #3498db; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;">주문 정보 보기</a>

</body>

</html>