<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Menu Form</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h1>Menu Form</h1>

<form id="menuForm" enctype="multipart/form-data">
    <label for="name">Menu Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="price">Menu Price:</label>
    <input type="number" id="price" name="price" required><br>

    <label for="files">Select Files:</label>
    <input type="file" id="files" name="files" multiple><br>

    <button type="button" onclick="createMenu()">Create Menu</button>
</form>

<div id="messageDiv"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var storeId = /*[[${storeId}]]*/ null; // 동적으로 설정하려는 가게 ID
    /*]]>*/
</script>
<script>
    function createMenu() {
        var formData = new FormData();
        formData.append('name', $('#name').val());
        formData.append('price', $('#price').val());
        formData.append('files', $('#files')[0].files[0]);

        $.ajax({
            type: 'POST',
            url: '/api/store/' + storeId + '/createMenu',
            data: formData,
            processData: false,
            contentType: false,
            success: function (message) {
                window.location.href = '/api/store/' + storeId + '/allMenu';
            },
            error: function () {
                $('#messageDiv').text('Failed to create menu.');
            }
        });
    }
</script>

</body>
</html>