<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show Menu</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    table {
      border-spacing: 0;
      width: 80%;
      margin: 20px 0; /* 위아래 여백을 조절하세요 */
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2; /* 헤더 배경색을 설정하세요 */
    }

    .table-container {
      overflow-x: auto; /* 가로 스크롤이 필요한 경우 자동으로 스크롤이 생성되도록 함 */
    }
  </style>
</head>
<body>

<h1>Cart List</h1>

<div th:if="${not #lists.isEmpty(cartList)}">
  <table>
    <thead>
    <tr>
      <th>Menu</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menuDto : ${cartList.menu}">
      <td th:text="${menuDto.id}"></td>
      <td th:text="${menuDto.name}"></td>
      <td th:text="${menuDto.price}"></td>
      <td th:text="${menuDto.quantity}"></td>
    </tr>
    </tbody>
  </table>
  <p>Total Price: <span th:text="${cartList.totalPrice}"></span></p>
</div>
<div th:if="${#lists.isEmpty(cartList)}">
  <p>No menus available in the Cart.</p>
</div>

<button type="button" class="btn btn-primary" onclick="createOrder()" style="display: inline-block;">장바구니 상품 주문하기</button>
<button type="button" class="btn btn-danger" onclick="deleteCart()" style="display: inline-block;">장바구니 삭제</button>


<script th:inline="javascript">
  var cartList = /*[[${cartList.menu}]]*/ null;
  var totalPrice = /*[[${cartList.totalPrice}]]*/ 0;
  function createOrder() {
    console.log(cartList)
    var orderRequest = {
      cartList: cartList,
      totalPrice: totalPrice
    };

    // Ajax 호출
    $.ajax({
      type: 'POST',
      url: '/api/orders',
      contentType: 'application/json',
      data: JSON.stringify(orderRequest), // menuDto 속성들을 직렬화하여 전송
      success: function (response) {
         alert('주문이 완료되었습니다.');
         window.location.href = '/api/stores';
        console.log(response);
      },
      error: function (error) {
        console.error(error);
      }
    });
  }
</script>
<script>
  function deleteCart() {
    // Ajax 호출
    $.ajax({
      type: 'DELETE',
      url: '/api/cart',
      contentType: 'application/json',
      success: function (response) {
        if (response =="ok") {
          alert('장바구니정보가 삭제 되었습니다.');
          window.location.href = '/api/stores';
        }
        console.log(response);
      },
      error: function (error) {
        // 실패 시 동작
        console.error(error);
      }
    });
  }
</script>


<script th:inline="javascript">
  /*<![CDATA[*/
  var storeId = /*[[${storeId}]]*/ null; // 동적으로 설정하려는 가게 ID
  var menuId = /*[[${menuId}]]*/ null;  // 동적으로 설정하려는 메뉴 ID
  /*]]>*/
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>